/**************************************************************************** /
* Custom bootstrap scss
******************************************************************************/
@use "variables" as var;
@import "bootstrap/scss/functions";
/**************************************************************************** /
* Custom variables definition
***************************************************************************** /
* - Must be always after bootstrap functions import and before it's variables
* import
******************************************************************************/

// Main colors
// Color pallet https://getbootstrap.com/docs/5.1/customize/color/
$primary: var.$primary;
$secondary: var.$secondary;
$dark: var.$dark;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

/**************************************************************************** /
* Custom maps definition
******************************************************************************/

// Custom map
$custom-colors: (
  "neutral": var.$gray-500,
  "dark-alt": var.$dark-alt,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-remove($theme-colors, "info");

/**************************************************************************** /
* Bootstrap imports
******************************************************************************/

//  Configuration
@import "bootstrap/scss/utilities";

// Layout & Components
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/close";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/images";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/offcanvas"; // sidebar, depends on modal
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/placeholders";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/root";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/type";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-utilities";
