/**************************************************************************** /
* Design Tokens
* Manage and store User Interface (UI) decisions such as spacing, color,
* typography and motion.
* These decisions are stored in a config like format to support the needs of a
* platform.
******************************************************************************/
$spaceMap: (
  xxxs: 4px,
  xxs: 8px,
  xs: 12px,
  s: 16px,
  m: 24px,
  l: 32px,
  xl: 48px,
  xxl: 72px,
  xxxl: 96px,
  xxxxl: 120px,
);

$textSizeMap: (
  xxs: 8px,
  xxl: 72px,
);

$textWeightsMap: (
  x-light: 100,
  light: 400,
  bold: 700,
  x-bold: 900,
);

$colorMap: (
  red: (
    base: #cc3656,
    xx-light: #f597ac,
    x-light: #e06a84,
    light: #d84f6d,
    dark: #9b344a,
    x-dark: #702031,
    xx-dark: #571120,
  ),
  slate: (
    50: #f8fafc,
    100: #f1f5f9,
    200: #e2e8f0,
    300: #cbd5e1,
    400: #94a3b8,
    500: #64748b,
    600: #475569,
    700: #334155,
    800: #1e293b,
    900: #0f172a,
  ),
);

$tokens: (
  color: $colorMap,
  space: $spaceMap,
  textSize: $textSizeMap,
  textWeight: $textWeightsMap,
);
