@import "./abstracts/mixins";

// White and gray
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Main colors
// Color pallet https://getbootstrap.com/docs/5.1/customize/color/
$primary: getColor("slate");
$secondary: #fd7e14;
$gray: #64748b;
$dark: #1e293b;
$dark-alt: #334155;

$accordion-padding-x: 1.5rem;
$accordion-padding-y: 1.5rem;
$accordion-icon-width: 1.875rem;
