@import "./abstracts/mixins";

/*
* Custom colors.
*/
// White and gray
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Color pallet https://getbootstrap.com/docs/5.1/customize/color/
$primary: getColor("blue");
$secondary: getColor("orange", 400);
$gray: #64748b;
$dark: #1e293b;
$dark-alt: #334155;

/*
* Bootstrap custom variables.
*/
$accordion-padding-x: 1.5rem;
$accordion-padding-y: 1.5rem;
$accordion-icon-width: 1.875rem;

/*
* Theme colors map.
*/
$themes: (
  "light": (
    "primary": $primary,
    "secondary": $secondary,
    "background-primary": $white,
    "background-secondary": $gray-400,
    "background-disabled": $gray-200,
    "border-primary": $gray-600,
    "text-primary": #0c0c0c,
    "text-secondary": $white,
    "navbar-background-primary": $dark,
    "navbar-background-secondary": $dark-alt,
  ),
  "dark": (
    "primary": $primary,
    "secondary": $secondary,
    "background-primary": $dark-alt,
    "background-secondary": $dark,
    "background-disabled": $gray-200,
    "border-primary": $gray-600,
    "text-primary": #f5f5f5,
    "text-secondary": #0c0c0c,
    "navbar-background-primary": $dark,
    "navbar-background-secondary": $dark-alt,
  ),
);

/*
* Create CSS theme color variables.
*/
@each $theme-name, $properties in $themes {
  [data-mode="#{$theme-name}"] .#{$theme-name} {
    // define a css variable for each property
    @each $name, $property in $properties {
      --#{$name}: #{$property};

      @if ($name == "primary") {
        --#{$name}-dark: #{darken($property, 10%)};
        --#{$name}-darker: #{darken($property, 20%)};
      }
    }
  }
}
