@use "../custom" as custom;

/**************************************************************************** /
* Colors
******************************************************************************/

@mixin gradient {
  background: linear-gradient(
    to right,
    rgba(custom.$dark-alt, 0.95),
    rgba(custom.$primary, 0.95)
  );
}

/**************************************************************************** /
* Position
******************************************************************************/

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center {
  @include absoluteCenter;
}
