@use "../tokens" as tokens;

/**************************************************************************** /
* Position
******************************************************************************/

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center {
  @include absoluteCenter;
}

/**************************************************************************** /
* Spacing
******************************************************************************/
@function getSpacing($size) {
  $spaceTokens: map-get(tokens.$tokens, "space");
  @return map-get($spaceTokens, $size);
}

// Padding
@mixin padding-mixin($size) {
  padding: getSpacing($size);
}

@mixin padding-top-mixin($size) {
  padding-top: getSpacing($size);
}

@mixin padding-vertical-mixin($size) {
  padding-top: getSpacing($size);
  padding-bottom: getSpacing($size);
}

// Margin
@mixin margin-mixin($size) {
  margin: getSpacing($size);
}

/**************************************************************************** /
* Color
******************************************************************************/
@function getColor($color, $variant: 500) {
  $colorTokens: map-get(tokens.$tokens, "color");
  $selected: map-get($colorTokens, $color);
  @return map-get($selected, $variant);
}

// Color
@mixin color-mixin($color, $variant: 500) {
  color: getColor($color, $variant);
}

// Background Color
@mixin background-color-mixin($color, $variant: 500) {
  background-color: getColor($color, $variant);
}

/**************************************************************************** /
* Typography
******************************************************************************/
$textSizeTokens: map-get(tokens.$tokens, "textSize");
$textWeightTokens: map-get(tokens.$tokens, "textWeight");

@mixin font-mixin($size, $type: "body") {
  @if ($type == "body") {
    font-size: map-get($textSizeTokens, $size);
    font-weight: map-get($textWeightTokens, "light");
  }
  @if ($type == "heading") {
    font-size: map-get($textSizeTokens, $size);
    font-weight: map-get($textWeightTokens, "bold");
  }
}
