@use "../theme/default" as default;
@use "../tokens" as tokens;

/**************************************************************************** /
* Colors
******************************************************************************/

@mixin gradient {
  background: linear-gradient(
    to right,
    rgba(default.$dark-alt, 0.95),
    rgba(default.$primary, 0.95)
  );
}

/**************************************************************************** /
* Position
******************************************************************************/

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center {
  @include absoluteCenter;
}

/**************************************************************************** /
* Spacing
******************************************************************************/
@function getSpacing($size) {
  $spaceTokens: map-get(tokens.$tokens, "space");
  @return map-get($spaceTokens, $size);
}

// Padding
@mixin padding($size) {
  padding: getSpacing($size);
}

@mixin padding-top($size) {
  padding-top: getSpacing($size);
}

@mixin padding-vertical($size) {
  padding-top: getSpacing($size);
  padding-bottom: getSpacing($size);
}

// Margin
@mixin margin($size) {
  margin: getSpacing($size);
}

/**************************************************************************** /
* Color
******************************************************************************/
@function getColor($color, $size: "base") {
  $colorTokens: map-get(tokens.$tokens, "color");
  $selected: map-get($colorTokens, $color);
  @return map-get($selected, $size);
}

// Color
@mixin color($color, $size: "base") {
  color: getColor($color, $size);
}

// Background Color
@mixin background-color($color, $size: "base") {
  background-color: getColor($color, $size);
}

/**************************************************************************** /
* Typography
******************************************************************************/
$textSizeTokens: map-get(tokens.$tokens, "textSize");
$textWeightTokens: map-get(tokens.$tokens, "textWeight");

@mixin font($size, $type: "body") {
  @if ($type == "body") {
    font-size: map-get($textSizeTokens, $size);
    font-weight: map-get($textWeightTokens, "light");
  }
  @if ($type == "heading") {
    font-size: map-get($textSizeTokens, $size);
    font-weight: map-get($textWeightTokens, "bold");
  }
}
