/**************************************************************************** /
* Dark mode
******************************************************************************/
@use "../variables" as variables;

[data-mode="dark"] .darker {
  @import "bootstrap/scss/functions";
  $primary: variables.$primary;
  // Card
  $card-bg: variables.$dark;
  $card-border-color: variables.$gray-600;
  $card-color: variables.$gray-300;
  // Card Header
  $card-cap-bg: variables.$dark;
  $card-cap-color: variables.$gray-300;
  // Table
  $table-striped-color: variables.$gray-400;
  $table-striped-bg-factor: 0.05;
  $table-striped-bg: variables.$dark-alt;
  // Offcanvas
  $offcanvas-bg-color: variables.$dark;

  // Pagination
  $pagination-color: variables.$secondary;
  $pagination-bg: variables.$dark-alt;
  $pagination-border-color: variables.$secondary;

  $pagination-focus-color: variables.$white;
  $pagination-focus-bg: variables.$secondary;
  $pagination-focus-outline: variables.$secondary;

  $pagination-hover-color: variables.$white;
  $pagination-hover-bg: variables.$secondary;
  $pagination-hover-border-color: variables.$secondary;

  $pagination-active-color: variables.$white;
  $pagination-active-bg: variables.$secondary;
  $pagination-active-border-color: variables.$secondary;

  $pagination-disabled-color: variables.$secondary;
  $pagination-disabled-bg: variables.$gray-200;
  $pagination-disabled-border-color: variables.$secondary;

  // Accordion
  $accordion-color: variables.$white;
  $accordion-bg: variables.$dark-alt;
  $accordion-button-color: variables.$white;
  $accordion-button-bg: variables.$dark;
  $accordion-button-active-bg: variables.$primary;
  $accordion-button-active-color: variables.$white;

  $accordion-padding-x: variables.$accordion-padding-x;
  $accordion-padding-y: variables.$accordion-padding-y;
  $accordion-icon-color: variables.$primary;
  $accordion-icon-active-color: variables.$dark-alt;
  $accordion-icon-width: variables.$accordion-icon-width;

  // Select
  $form-select-color: variables.$white;
  $form-select-bg: variables.$dark;
  $form-select-indicator-color: variables.$white;

  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/mixins";
  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/mixins";
  @import "bootstrap/scss/card";
  @import "bootstrap/scss/offcanvas";
  @import "bootstrap/scss/tables";
  @import "bootstrap/scss/pagination";
  @import "bootstrap/scss/accordion";
  @import "bootstrap/scss/forms/form-select";
}
