/**************************************************************************** /
* Dark mode
******************************************************************************/
@use "../variables" as var;

[data-mode="dark"] .dark {
  @import "bootstrap/scss/functions";
  // Pagination
  $pagination-border-color: var.$secondary;
  $pagination-color: var.$secondary;

  $pagination-focus-color: var.$white;
  $pagination-focus-bg: var.$secondary;
  $pagination-focus-outline: var.$secondary;

  $pagination-hover-color: var.$white;
  $pagination-hover-bg: var.$secondary;
  $pagination-hover-border-color: var.$secondary;

  $pagination-active-color: var.$white;
  $pagination-active-bg: var.$secondary;
  $pagination-active-border-color: var.$secondary;

  $pagination-disabled-color: var.$secondary;
  $pagination-disabled-bg: var.$gray-200;
  $pagination-disabled-border-color: var.$secondary;

  // Accordion overrides
  $accordion-padding-y: var.$accordion-padding-y;
  $accordion-icon-color: var.$primary;
  $accordion-icon-active-color: var.$dark-alt;
  $accordion-icon-width: var.$accordion-icon-width;

  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/maps";
  @import "bootstrap/scss/mixins";

  @import "bootstrap/scss/pagination";
  @import "bootstrap/scss/accordion";
}
