.logo-box {
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;

  img {
    height: 100%;

    &:hover {
      filter: grayscale(120);
    }
  }
}
// Dark mode
[data-mode="dark"] .darker {
  .logo-box {
    background-color: var(--bs-dark);
  }
}
