.sidebar {
  &__content {
    &--title {
      transition: 0.3s ease-out;
      color: var(--bs-gray-500);
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
  }
}
