/**************************************************************************** /
* Dark mode
******************************************************************************/
@use "../variables" as var;

[data-mode="dark"] .dark {
  @import "bootstrap/scss/functions";
  /*
  * Get theme colors
  */
  $darkTheme: map-get(var.$themes, "dark");

  $primary: map-get($darkTheme, "primary");
  // Card
  $card-bg: map-get($darkTheme, "background-secondary");
  $card-border-color: map-get($darkTheme, "border-primary");
  $card-color: map-get($darkTheme, "text-primary");
  // Card Header
  $card-cap-bg: map-get($darkTheme, "background-secondary");
  $card-cap-color: map-get($darkTheme, "text-primary");
  // Table
  $table-striped-color: var.$gray-400;
  $table-striped-bg-factor: 0.05;
  $table-striped-bg: var.$dark-alt;
  // Offcanvas
  $offcanvas-bg-color: var.$dark;

  // Pagination
  $pagination-color: map-get($darkTheme, "secondary");
  $pagination-bg: var.$dark-alt;
  $pagination-border-color: var.$secondary;

  $pagination-focus-color: var.$white;
  $pagination-focus-bg: var.$secondary;
  $pagination-focus-outline: var.$secondary;

  $pagination-hover-color: var.$white;
  $pagination-hover-bg: var.$secondary;
  $pagination-hover-border-color: var.$secondary;

  $pagination-active-color: var.$white;
  $pagination-active-bg: var.$secondary;
  $pagination-active-border-color: var.$secondary;

  $pagination-disabled-color: var.$secondary;
  $pagination-disabled-bg: var.$gray-200;
  $pagination-disabled-border-color: var.$secondary;

  // Accordion
  $accordion-color: var.$white;
  $accordion-bg: var.$dark-alt;
  $accordion-button-color: var.$white;
  $accordion-button-bg: var.$dark;
  $accordion-button-active-bg: var.$primary;
  $accordion-button-active-color: var.$white;

  $accordion-padding-x: var.$accordion-padding-x;
  $accordion-padding-y: var.$accordion-padding-y;
  $accordion-icon-color: var.$primary;
  $accordion-icon-active-color: var.$dark-alt;
  $accordion-icon-width: var.$accordion-icon-width;

  // Select
  $form-select-color: var.$white;
  $form-select-bg: var.$dark;
  $form-select-indicator-color: var.$white;

  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/maps";
  @import "bootstrap/scss/mixins";

  @import "bootstrap/scss/card";
  @import "bootstrap/scss/offcanvas";
  @import "bootstrap/scss/tables";
  @import "bootstrap/scss/pagination";
  @import "bootstrap/scss/accordion";
  @import "bootstrap/scss/forms/form-select";
}
