/**************************************************************************** /
* Dark mode
******************************************************************************/
@use "../variables" as var;

[data-mode="dark"] .dark {
  @import "bootstrap/scss/functions";
  /*
  * Get theme colors
  */
  @function getTheme($var) {
    $darkTheme: map-get(var.$themes, "dark");
    @return map-get($darkTheme, $var);
  }

  $primary: getTheme("primary");
  // Card
  $card-bg: getTheme("background-secondary");
  $card-border-color: getTheme("border-primary");
  $card-color: getTheme("text-primary");
  // Card Header
  $card-cap-bg: getTheme("background-secondary");
  $card-cap-color: getTheme("text-primary");
  // Table
  $table-striped-color: var.$gray-400;
  $table-striped-bg-factor: 0.05;
  $table-striped-bg: getTheme("background-primary");
  // Offcanvas
  $offcanvas-bg-color: getTheme("background-secondary");

  // Pagination
  $pagination-color: getTheme("secondary");
  $pagination-bg: getTheme("background-primary");
  $pagination-border-color: getTheme("secondary");

  $pagination-focus-color: getTheme("text-primary");
  $pagination-focus-bg: getTheme("secondary");
  $pagination-focus-outline: getTheme("secondary");

  $pagination-hover-color: getTheme("text-primary");
  $pagination-hover-bg: getTheme("secondary");
  $pagination-hover-border-color: getTheme("secondary");

  $pagination-active-color: getTheme("text-primary");
  $pagination-active-bg: getTheme("secondary");
  $pagination-active-border-color: getTheme("secondary");

  $pagination-disabled-color: getTheme("secondary");
  $pagination-disabled-bg: var.$gray-200;
  $pagination-disabled-border-color: getTheme("secondary");

  // Accordion
  $accordion-color: getTheme("text-primary");
  $accordion-bg: getTheme("background-primary");
  $accordion-button-color: getTheme("text-primary");
  $accordion-button-bg: getTheme("background-secondary");
  $accordion-button-active-bg: getTheme("primary");
  $accordion-button-active-color: getTheme("text-primary");

  $accordion-padding-x: var.$accordion-padding-x;
  $accordion-padding-y: var.$accordion-padding-y;
  $accordion-icon-color: getTheme("primary");
  $accordion-icon-active-color: getTheme("background-primary");
  $accordion-icon-width: var.$accordion-icon-width;

  // Select
  $form-select-color: getTheme("text-primary");
  $form-select-bg: getTheme("background-secondary");
  $form-select-indicator-color: getTheme("text-primary");

  // Input
  $input-color: getTheme("text-primary");
  $input-bg: getTheme("background-secondary");
  $form-file-button-color: getTheme("text-primary");
  $form-file-button-bg: getTheme("background-secondary");

  // Nav
  $nav-link-color: getTheme("text-primary");
  $nav-link-hover-color: getTheme("secondary");
  $nav-tabs-link-active-bg: getTheme("background-primary");
  $nav-tabs-link-active-color: getTheme("text-primary");

  // Dropdown
  $dropdown-link-color: getTheme("text-primary");
  $dropdown-bg: getTheme("background-secondary");
  $dropdown-link-hover-color: getTheme("text-primary");
  $dropdown-link-hover-bg: getTheme("background-primary");

  // Modal
  $modal-content-bg: getTheme("background-primary");

  // Buttons
  // $btn-close-color: getTheme("text-primary");

  // Popover
  $popover-bg: getTheme("background-secondary");
  $popover-border-color: getTheme("text-primary");
  $popover-body-color: getTheme("text-primary");
  $popover-arrow-outer-color: getTheme("text-primary");
  $popover-arrow-color: getTheme("text-primary");

  // Toast
  $toast-color: getTheme("text-primary");
  $toast-background-color: getTheme("background-secondary");
  $toast-border-color: getTheme("text-primary");
  $toast-header-background-color: getTheme("background-secondary");
  $toast-header-border-color: getTheme("background-secondary");

  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/maps";
  @import "bootstrap/scss/mixins";

  @import "bootstrap/scss/close";
  @import "bootstrap/scss/alert";
  @import "bootstrap/scss/card";
  @import "bootstrap/scss/offcanvas";
  @import "bootstrap/scss/tables";
  @import "bootstrap/scss/pagination";
  @import "bootstrap/scss/accordion";
  @import "bootstrap/scss/forms";
  @import "bootstrap/scss/nav";
  @import "bootstrap/scss/dropdown";
  @import "bootstrap/scss/modal";
  @import "bootstrap/scss/popover";
  @import "bootstrap/scss/toasts";
  @import "bootstrap/scss/buttons";

  // Change calendar and time input icons colors
  input {
    color-scheme: dark;
    background: getTheme("background-secondary");
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }
}
