/**************************************************************************** /
* Light mode
******************************************************************************/
@use "../variables" as var;

[data-mode="light"] .light {
  @import "bootstrap/scss/functions"; /*
  * Get theme colors
  */
  @function getTheme($var) {
    $lightTheme: map-get(var.$themes, "light");
    @return map-get($lightTheme, $var);
  }

  // Pagination
  $pagination-border-color: getTheme("secondary");
  $pagination-color: getTheme("secondary");

  $pagination-focus-color: getTheme("text-secondary");
  $pagination-focus-bg: getTheme("secondary");
  $pagination-focus-outline: getTheme("secondary");

  $pagination-hover-color: getTheme("text-secondary");
  $pagination-hover-bg: getTheme("secondary");
  $pagination-hover-border-color: getTheme("secondary");

  $pagination-active-color: getTheme("text-secondary");
  $pagination-active-bg: getTheme("secondary");
  $pagination-active-border-color: getTheme("secondary");

  $pagination-disabled-color: getTheme("secondary");
  $pagination-disabled-bg: getTheme("background-disabled");
  $pagination-disabled-border-color: getTheme("secondary");

  // Accordion overrides
  $accordion-padding-y: var.$accordion-padding-y;
  $accordion-icon-color: getTheme("primary");
  $accordion-icon-active-color: var.$dark-alt;
  $accordion-icon-width: var.$accordion-icon-width;

  // Input
  $input-color: getTheme("text-primary");
  $input-bg: getTheme("background-secondary");

  @import "bootstrap/scss/variables";
  @import "bootstrap/scss/maps";
  @import "bootstrap/scss/mixins";

  @import "bootstrap/scss/pagination";
  @import "bootstrap/scss/accordion";
  @import "bootstrap/scss/forms";
}
